version: 2
updates:
  - package-ecosystem: "bun"
    directory: "/"
    target-branch: "dev"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "10:00"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "automerge"
    groups:
      production-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "eslint"
          - "prettier"
          - "typescript"
        update-types:
          - "minor"
          - "patch"
      dev-dependencies:
        patterns:
          - "eslint"
          - "prettier"
          - "typescript"
        update-types:
          - "minor"
          - "patch"
    commit-message:
      prefix: "chore"
      include: "scope"

  - package-ecosystem: "docker"
    directory: "/"
    target-branch: "dev"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "10:00"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "docker"
      - "automerge"
    commit-message:
      prefix: "chore"
      include: "scope"

